@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {

  /* Title linear gradient */
  --from: rgb(18, 212, 135);
  --to:   rgb(27, 166, 221);

  /* Table colors */
  --table_bg_color:       rgb(104, 176, 139);
  --tb-tr_bg_color_odd:   rgb(216, 242, 228);
  --tb-tr_bg_color:       rgb(228, 255, 241);
  --font_bg_color:        rgb(231, 255, 243);

  --table_bg_color_2:     rgb( 74,  74,  74);
  --tb-tr_color:          rgb(100, 100, 100);
  --font_bg_color_2:      rgb(209, 209, 209);
  --tb-tr_bg_color_2_odd: rgb(224, 224, 224);
  --even-rows:            rgb(223, 223, 223);
  --odd-rows:             rgb(233, 233, 233);
  --tb-tr_bg_color_2:     rgb(239, 239, 239);

  /* Buttons colors */
  --select_text_button:          rgb( 38,  80,  41);
  --select_bg_button_shadow:     rgb( 83, 170,  90);
  --select_bg_button:            rgb(112, 225, 121);

  --delete_text_button:          rgb(103,  46,  46);
  --delete_bg_button_shadow:     rgb(172,  81,  81);
  --delete_bg_button:            rgb(228, 106, 106);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(./public/assets/bg.png);
}

h1 {
  background: linear-gradient(72deg, var(--from) 40%, var(--to) 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}